<div class="container">
  <div id="domainForm">
    <%= form_for @domain, remote: true do |f| %>
      <div class="form-group row">
        <%= f.text_field :name, class: "form-control", placeholder: 'Enter Domain Name Here...', data: {errorkey: "name"} %>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>
  </div>
</div>